<launch>

    <arg name="save_path" default="$(find localization)/results/competition1/final_result.csv" />
    <arg name="map_path" default="/home/louis/sdc_ws/data/itri_map.pcd" />
    <param name="use_sim_time" value="true" />


    <node pkg="localization" type="icp1" name="base_localizer1" output="screen">
        <rosparam name="init_x" type="double" value="1773.43"/>
        <rosparam name="init_y" type="double" value="1773.43"/>
        <rosparam name="init_z" type="double" value="1773.43"/>
        <rosparam name="init_yaw" type="double" value="2.449"/>
        <rosparam file="$(find localization)/config/itri.yaml" command="load" />
        <rosparam param="result_save_path" subst_value="True">$(arg save_path)</rosparam>
        <rosparam param="map_path" subst_value="True">$(arg map_path)</rosparam>
        <param name="mapLeafSize" type="double" value="0.12"/>
        <param name="scanLeafSize" type="double" value="0.12"/>
    </node>
    

</launch>
